<form [formGroup]="videoDetection" (ngSubmit)="submit()" clrForm>
  <div class="clr-row clr-justify-content-start">
    <div class="clr-col-2"></div>
    <div class="clr-row clr-col-8">
      <div class="clr-col-12">
        <div class="card">
          <div class="card-block">
            <div class="card-text">
              <div class="progress loop" *ngIf="isLoading"><progress></progress></div>
              <div class="clr-row clr-col-12">
                <div class="clr-col-6 text-center">
                  <!--<video autoplay playsinline muted id="webcam" name="video" width="300" height="300" #video></video>-->
                  <webcam [height]="400" [width]="800"
                          [trigger]="triggerObservable"
                          (imageCapture)="handleImage($event)" *ngIf="showWebcam"
                          [allowCameraSwitch]="allowCameraSwitch"
                          [switchCamera]="nextWebcamObservable"
                          [videoOptions]="videoOptions"
                          [imageQuality]="1"
                          (cameraSwitched)="cameraWasSwitched($event)"
                          (initError)="handleInitError($event)">
                  </webcam>
                </div>

                <div class="clr-col-6 text-center">
                  <img style="min-width: 300px; max-width: 300px" [src]="sanitize(predictionVideoSrc)" *ngIf="predictionVideoSrc">
                </div>

              </div>
            </div>
          </div>
          <div class="card-footer">
            <button class="btn"
                    [ngClass]="{'btn-primary': buttonText !== 'Stop Prediction', 'btn-danger': buttonText === 'Stop Prediction'}"
                    type="submit">{{buttonText}}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="clr-col-1"></div>
  </div>
</form>
