<form [formGroup]="videoDetection" (ngSubmit)="submit()" clrForm>
  <div class="clr-row clr-justify-content-start">
    <div class="clr-col-2"></div>
    <div class="clr-row clr-col-8">
      <div class="clr-col-12">
        <div class="card">
          <div class="card-block">
            <div class="card-text">
              <div class="progress loop" *ngIf="isLoading"><progress></progress></div>
              <div class="clr-row clr-col-12">
                <div class="clr-col-6 text-center">
                  <video autoplay playsinline muted id="webcam" width="300" height="300" #video></video>
                </div>
                <div class="clr-col-6 text-center">
                  <video autoplay playsinline muted id="webcamPrediction" width="300" height="300" #videoPrediction></video>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button class="btn btn-primary" type="submit">Video Prediction</button>
          </div>
        </div>
      </div>
    </div>
    <div class="clr-col-1"></div>
  </div>
</form>
